<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.erp.datasource.mappers.WorkOrderMapper">

  <resultMap id="BaseResultMap" type="com.jsh.erp.datasource.entities.WorkOrder">
    <id     column="id"                     jdbcType="BIGINT"     property="id" />
    <result column="order_no"               jdbcType="VARCHAR"    property="orderNo" />
    <result column="vehicle_id"             jdbcType="BIGINT"     property="vehicleId" />
    <result column="license_plate"          jdbcType="VARCHAR"    property="licensePlate" />
    <result column="customer_name"          jdbcType="VARCHAR"    property="customerName" />
    <result column="customer_phone"         jdbcType="VARCHAR"    property="customerPhone" />
    <result column="vehicle_info"           jdbcType="VARCHAR"    property="vehicleInfo" />
    <result column="vin"                    jdbcType="VARCHAR"    property="vin" />
    <result column="mileage"                jdbcType="INTEGER"    property="mileage" />
    <result column="fault_desc"             jdbcType="LONGVARCHAR" property="faultDesc" />
    <result column="handler_name"           jdbcType="VARCHAR"    property="handlerName" />
    <result column="intake_time"            jdbcType="TIMESTAMP"  property="intakeTime" />
    <result column="estimated_finish_time"  jdbcType="TIMESTAMP"  property="estimatedFinishTime" />
    <result column="actual_finish_time"     jdbcType="TIMESTAMP"  property="actualFinishTime" />
    <result column="status"                 jdbcType="TINYINT"    property="status" />
    <result column="labor_amount"           jdbcType="DECIMAL"    property="laborAmount" />
    <result column="material_amount"        jdbcType="DECIMAL"    property="materialAmount" />
    <result column="other_amount"           jdbcType="DECIMAL"    property="otherAmount" />
    <result column="total_amount"           jdbcType="DECIMAL"    property="totalAmount" />
    <result column="discount_amount"        jdbcType="DECIMAL"    property="discountAmount" />
    <result column="payable_amount"         jdbcType="DECIMAL"    property="payableAmount" />
    <result column="payment_status"         jdbcType="TINYINT"    property="paymentStatus" />
    <result column="remark"                 jdbcType="VARCHAR"    property="remark" />
    <result column="create_time"            jdbcType="TIMESTAMP"  property="createTime" />
    <result column="update_time"            jdbcType="TIMESTAMP"  property="updateTime" />
    <result column="tenant_id"              jdbcType="BIGINT"     property="tenantId" />
    <result column="delete_flag"            jdbcType="VARCHAR"    property="deleteFlag" />
  </resultMap>

  <sql id="Base_Column_List">
    id, order_no, vehicle_id, license_plate, customer_name, customer_phone,
    vehicle_info, vin, mileage, fault_desc, handler_name,
    intake_time, estimated_finish_time, actual_finish_time, status,
    labor_amount, material_amount, other_amount, total_amount,
    discount_amount, payable_amount, payment_status,
    remark, create_time, update_time, tenant_id, delete_flag
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from jsh_work_order
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.jsh.erp.datasource.entities.WorkOrder"
          useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into jsh_work_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">order_no,</if>
      <if test="vehicleId != null">vehicle_id,</if>
      <if test="licensePlate != null">license_plate,</if>
      <if test="customerName != null">customer_name,</if>
      <if test="customerPhone != null">customer_phone,</if>
      <if test="vehicleInfo != null">vehicle_info,</if>
      <if test="vin != null">vin,</if>
      <if test="mileage != null">mileage,</if>
      <if test="faultDesc != null">fault_desc,</if>
      <if test="handlerName != null">handler_name,</if>
      <if test="intakeTime != null">intake_time,</if>
      <if test="estimatedFinishTime != null">estimated_finish_time,</if>
      <if test="actualFinishTime != null">actual_finish_time,</if>
      <if test="status != null">status,</if>
      <if test="laborAmount != null">labor_amount,</if>
      <if test="materialAmount != null">material_amount,</if>
      <if test="otherAmount != null">other_amount,</if>
      <if test="totalAmount != null">total_amount,</if>
      <if test="discountAmount != null">discount_amount,</if>
      <if test="payableAmount != null">payable_amount,</if>
      <if test="paymentStatus != null">payment_status,</if>
      <if test="remark != null">remark,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateTime != null">update_time,</if>
      <if test="tenantId != null">tenant_id,</if>
      delete_flag,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">#{orderNo},</if>
      <if test="vehicleId != null">#{vehicleId},</if>
      <if test="licensePlate != null">#{licensePlate},</if>
      <if test="customerName != null">#{customerName},</if>
      <if test="customerPhone != null">#{customerPhone},</if>
      <if test="vehicleInfo != null">#{vehicleInfo},</if>
      <if test="vin != null">#{vin},</if>
      <if test="mileage != null">#{mileage},</if>
      <if test="faultDesc != null">#{faultDesc},</if>
      <if test="handlerName != null">#{handlerName},</if>
      <if test="intakeTime != null">#{intakeTime},</if>
      <if test="estimatedFinishTime != null">#{estimatedFinishTime},</if>
      <if test="actualFinishTime != null">#{actualFinishTime},</if>
      <if test="status != null">#{status},</if>
      <if test="laborAmount != null">#{laborAmount},</if>
      <if test="materialAmount != null">#{materialAmount},</if>
      <if test="otherAmount != null">#{otherAmount},</if>
      <if test="totalAmount != null">#{totalAmount},</if>
      <if test="discountAmount != null">#{discountAmount},</if>
      <if test="payableAmount != null">#{payableAmount},</if>
      <if test="paymentStatus != null">#{paymentStatus},</if>
      <if test="remark != null">#{remark},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="updateTime != null">#{updateTime},</if>
      <if test="tenantId != null">#{tenantId},</if>
      '0',
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jsh.erp.datasource.entities.WorkOrder">
    update jsh_work_order
    <set>
      <if test="orderNo != null">order_no = #{orderNo},</if>
      <if test="vehicleId != null">vehicle_id = #{vehicleId},</if>
      <if test="licensePlate != null">license_plate = #{licensePlate},</if>
      <if test="customerName != null">customer_name = #{customerName},</if>
      <if test="customerPhone != null">customer_phone = #{customerPhone},</if>
      <if test="vehicleInfo != null">vehicle_info = #{vehicleInfo},</if>
      <if test="vin != null">vin = #{vin},</if>
      <if test="mileage != null">mileage = #{mileage},</if>
      <if test="faultDesc != null">fault_desc = #{faultDesc},</if>
      <if test="handlerName != null">handler_name = #{handlerName},</if>
      <if test="intakeTime != null">intake_time = #{intakeTime},</if>
      <if test="estimatedFinishTime != null">estimated_finish_time = #{estimatedFinishTime},</if>
      <if test="actualFinishTime != null">actual_finish_time = #{actualFinishTime},</if>
      <if test="status != null">status = #{status},</if>
      <if test="laborAmount != null">labor_amount = #{laborAmount},</if>
      <if test="materialAmount != null">material_amount = #{materialAmount},</if>
      <if test="otherAmount != null">other_amount = #{otherAmount},</if>
      <if test="totalAmount != null">total_amount = #{totalAmount},</if>
      <if test="discountAmount != null">discount_amount = #{discountAmount},</if>
      <if test="payableAmount != null">payable_amount = #{payableAmount},</if>
      <if test="paymentStatus != null">payment_status = #{paymentStatus},</if>
      <if test="remark != null">remark = #{remark},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
      <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from jsh_work_order where id = #{id,jdbcType=BIGINT}
  </delete>

</mapper>
