// The prefix to use on all css classes from ant-pro.
@ant-pro-prefix             : ant-pro;
@primary-color              : #1890ff;
@heading-color              : rgba(0, 0, 0, 0.85);
@text-color-secondary       : rgba(0, 0, 0, 0.45);
@font-size-base             : 14px;
@font-size-lg               : 16px;
@red-6                      : #f5222d;
@green-6                    : #52c41a;
@avatar-size-base           : 32px;
@avatar-size-lg             : 40px;
@avatar-size-sm             : 24px;
